@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html {
  font-size: 62.5%; 
}

:root {
  --text-color: #393939;
  --minus-color: #FF6963;
  --plus-color: #2ecc71;
  --white-color: #f7f7f7;
  --gray-color: #e9e5e5c2;
}

:root {
  --big-font-size: 4.0rem;
  --h1-font-size: 2.0rem;
  --h2-font-size: 1.3rem;
  --total-font-size: 2.5rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 4.5rem;
    --h1-font-size: 2.3rem;
    --h2-font-size: 1.5rem;
    --total-font-size: 2.7rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-color);
  font-weight: 400;
  /* background: linear-gradient(to bottom right, #99ccff 0%, #ccffcc 100%); */
  color: #393939;
  font-size: 1.6em;
  /* margin: 0 auto; */
  font-family: 'Open Sans', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  min-height: 100vh;
}


/* AUTH PAGE */
.wrapper {
  width: 100%;
}

.auth-container {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  margin: 0 auto;
}

.auth-container > h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 1em 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-item {
  padding: 10px;
  margin: 0 auto;
  text-align: left;
}

.auth-form-item input {
  display: flex;
  height: 40px;
  width:250px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  color: var(--white-color);
}

.auth-bottom {
  margin: 0 auto; 
  text-align: center;
  text-decoration: none;
  color: #8c8c8c;
  margin-top: 30px;
}

.auth-bottom:hover{
  border-bottom: 1px solid #8c8c8c;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background: var(--gray-color);
    min-height: 100vh;
    position: relative;
  }

  .auth-container {
    height: 500px;
    width: 400px;
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}


/* LAYOUT */
.container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    overflow: hidden;
    background: var(--white-color);
  }
}


/* TOP */
.top {
  background: url(back-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 5px;
}


/* HEADER */
.head {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.head h1 { 
  font-size: var(--h1-font-size);
  color: var(--gray-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .head {
    width: 750px;
  }
}


/* BALANCE */
.balance-container {
  display: flex;
  justify-content: center;
}

.balance-container  h2 {
  padding-right: 10px;
  color: var(--white-color);
  font-size: var(--h2-font-size);
}

.balance {
  font-size: var(--big-font-size);
  color: var(--white-color)
}

.balance span {
  font-size: var(--h3-font-size);
}


/* INCOME EXPENSE */
.inc-exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 30px 0;
}

.inc-exp-container h2 {
  font-size: var(--h2-font-size);
  margin-right: 40px;
  color: var(--text-color);
  line-height: 2.0;
}

.inc-container, .exp-container {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  background-color: var(--plus-color);
  color: var(--white-color);
  font-size: var(--total-font-size);
  line-height : 2.0;
  border-radius: 3px;
  justify-content: center;
  width: 300px;
}

.exp-container {
  margin: 0 5px;
  background-color: var(--minus-color);
}

.inc-exp-container span {
  font-size: var(--h2-font-size);
}

@media screen and (min-width: 768px) {
  .inc-exp-container {
    flex-direction: row;
    padding: 20px 0;
  }
  .inc-container {
    margin-right: 50px;
  }
}


/* ADD FORM */
.add-form {
  background: var(--gray-color);
  width: 100%;
  padding: 10px 0;
}

.add-form select {
  margin-top: 10px;
  background: var(--white-color);
  border-radius: 3px;
  font-size: var(--normal-font-size);
  padding: 5px;
}

.add-text,
.add-amount  {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

.add-text {
  margin-right: 25px;
}

.add-form label {
  display: inline-block;
  padding-right: 5px;
}

.add-form input[type="text"] ,input[type="number"] {
  height: 40px;
  width: 300px;
  border: 1px solid #A9A9A9;
  background: #fafafa;
  border-radius: 3px;
  color: #393939;
  padding: 5px;
}

.add-form  select:focus, input[type="text"]:focus ,input[type="number"]:focus {
  border: 1px solid #87CEEB;
  outline: none;
}

.add-btn {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .add-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-form select {
    margin-top: 0;
    margin-right: 15px;
  }

  .add-amount > input {
    width: 150px;
  }

  .add-btn {
    width: 100px;
    margin-left: 30px;
  }

  .add-form button {
    width: 100px;
    height: 40px;
    margin: 0;
  }
  }


/* LIST */
.list-container {
  padding: 50px 10px;
  background-color: var(--white-color);
}

.list {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 10px;
}

.list li {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
}

.list li div {
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.money-minus {
  color: var(--minus-color);
}

.money-plus {
  color: var(--plus-color);
}

.delete-btn {
  position: absolute;
  top: 25%;
  right: 2%;
  opacity: 0;
  border-radius: 50%;
  line-height: 20px;
  width: 25px;
  height: 25px; 
  color: #F08080;
  border: 1px solid #F08080;
  background: var(--white-color);
  text-align: bottom;
  padding-top: 2px;
}

.list li:hover .delete-btn {
  opacity: 1;
  transition : .3s;
  outline: none;
}

.list li:hover .money-plus, .list li:hover .money-minus {
  margin-right: 30px;
  transition : .3s;
}

@media screen and (min-width: 768px) {
  .list-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }

  .income-list {
    margin-right: 50px;
  }

  .list-container h3 {
    margin-bottom: 10px;
  }

  .list {
    width: 350px;
  }
}
