html {
  font-size: 62.5%; 
}

* {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: #393939;
  margin: 0 auto;
  width: 300px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  min-height: 100vh;
}


/* PC用の全体表示 */
@media screen and (min-width: 768px) {
  body {
    width: 100%;
  } 

  .container { 
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}


/* AUTH画面 */
.auth-container {
  background: #fafafa;
  margin: 3em auto;
  /* padding: 0 1em; */
  width: 300px;
  height: 530px;
}

.auth-container > h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 1em 0;
  background: #fafafa;
}

.auth-form {
  width: 300px;
  display: block;
}

.auth-form-item {
  padding-bottom: 30px;
  text-align: center;
}

.auth-label {
  margin: 10px 0;
  text-align: left;
  width: 250px;
}

.auth-input {
  display: inline-block;
  background: #fafafa;
  height: 40px;
  width:250px;
  color: #666;
  font-size: 1.2rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
}

.btn-panel {
  padding-top: 30px;
  text-align: center;
}

.signIn-btn {
  background: #6fc4f9;
  outline: none;
  border: 1px solid #6fc4f9;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 180px;
}

.signIn-btn:hover {
  background: #57baf8;
}

.signUp-btn {
  background: #f16272;
  outline: none;
  border: 1px solid #f16272;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 180px;
}

.signUp-btn:hover {
  background: #ee3e52;
}

.forSignup-in {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #8c8c8c;
  width: 140px;
  padding-top: 30px;
}

.forSignup-in:hover{
  border-bottom: 1px solid #8c8c8c;
}


/* header */

.header-form {
  padding-top: 15px;
}

.logout-btn {
  font-size: 1.2rem;
  display: block;
  margin: 0 0 0 auto;
  padding: 10px;
  text-decoration: none;
  background: #FF7F50;
  outline: none;
  border: 1px solid #FF7F50;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
} 

.logout-btn:hover {
  background: #ff6c37;
}

.title { 
  font-size: 3.0rem;
  margin: 15px 0;
  padding-bottom: 20px;
  text-align: center;
}

h2 {
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .header-form {
    max-width: 1000px;
    margin: 0 auto;
  }

  .logout-btn {
    margin-right: 50px;
  }

}


/* 残高 */
.balance {
  font-size: 5.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .balance-container {
    display: flex;
    justify-content: center;
  }

  .balance-container > h2 {
    padding-right: 20px;
  }
}


/* 収入/支出 */
.inc-exp-container {
  margin-bottom: 15px;
  padding: 20px 0;
}

.income-total {
  padding: 20px;
  background-color: #fafafa;
  color: #2ecc71;
  font-size: 2.5rem;
  text-align: center;
}

.income-yen {
  color: #2ecc71;
  font-size: 1.5rem;
}

.expense-total {
  padding: 20px;
  background-color: #fafafa;
  color: #c0392b;
  font-size: 2.5rem;
  text-align: center;
}

.expense-yen {
  color: #c0392b;
  font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
  .inc-exp-container {
    display: flex;
    justify-content: center;
  }

  .inc-container {
    width: 400px;
    margin-right: 20px;
  }

  .exp-container {
    width: 400px;
  }
}


/* 追加フォーム */
label {
  display: inline-block;
  margin: 10px 0;
  padding-right: 5px;
}

form > select {
  background: #fafafa;
}

form input[type="text"] ,input[type="number"] {
  height: 40px;
  width: 230px;
  border: 1px solid #A9A9A9;
  background: #fafafa;
}

form  select:focus, input[type="text"]:focus ,input[type="number"]:focus {
  border: 1px solid #6495ED;
  outline: none;
}


.add-btn {
  margin-top: 30px;
  cursor: pointer;
  background-color: #6495ED;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
  text-decoration: none;
  border: solid 4px #6495ED;
  border-radius: 5px;
  outline: none;
}

.add-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;/*線を消す*/
}

@media screen and (min-width: 768px) {
  form {
    display: flex;
    justify-content: center;
  }

  form > select {
    margin: 45px 0;
    height: 40px;
    padding-right: 5px;
  }

  label {
    display: inline-block;
    margin: 50px 0;
  }
  
  input[type="number"] {
    width: 100px;
  }

  .add-text {
    padding-left: 30px;
  }

  .add-amount {
    padding-left: 30px;
    padding-right: 55px;
  }

  .add-btn {
    width: 100px;
    margin-bottom: 30px;
  }
}


/* リスト一覧 */
.list-container {
  margin-top: 60px;
}

.list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
}

.list li {
  position: relative;
}

.list li div {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #A9A9A9;
  display: flex;
  justify-content: space-between;
}


.money-minus {
  color: #c0392b;
}

.money-plus {
  color: #2ecc71;
}

.delete-btn {
  position: absolute;
  top: 25%;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  line-height: 20px;
  width: 25px;
  height: 25px; 
  color: #F08080;
  border: 1px solid #F08080;
}

.list li:hover .delete-btn {
  opacity: 1;
  transition : .3s;
  outline: none;
}

.list li:hover .money-plus {
  margin-right: 30px;
  transition : .3s;
}

.list li:hover .money-minus {
  margin-right: 30px;
  transition : .3s;
}

@media screen and (min-width: 768px) {
  .list-container {
    display: flex;
    justify-content: center;
  }

  .income-list {
    width: 50%;
    margin-right: 60px;
  }

  .expense-list {
    width: 50%;
  }

  .list {
    margin: 10px 5px;
    padding: 0 10px;
  }
}




